doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet', type='text/css', href='./dist/style.css')
  body
    #app.container
    script(src='./dist/app.js')
